<section class="content">
    <div class="row">
      <div class="col-xs-12">
        <% if (callout) { %>
        <div class="callout callout-success">
          <h4><%= callout.status.toUpperCase() %></h4>
          <%  
            let calloutMessage = '';
            switch (Object.keys(callout)[0]) {
              case 'updating' : calloutMessage = `You're successfully updating ${callout.updating}`; break;
              case 'deleting' : calloutMessage = `You're successfully removing ${callout.deleting} from the list`;
            }
          %>
          <p><%= calloutMessage %></p>
        </div>
        <% } %>
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Teacher's List</h3>
          </div><!-- /.box-header -->
          <div class="box-body">
            <table id="example2" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Teachers ID</th>
                  <th>Full Name</th>
                  <th>E-Mail</th>
                  <th>Gender</th>
                  <th>Expertise</th>
                  <th style="text-align: center;">Action</th>
                </tr>
              </thead>
              <tbody>
                <% if (data) { data.forEach(el => { %>
                    <tr>
                      <td><%= el.teachers_id %></td>
                      <td><%= el.teacher_name %></td>
                      <td><%= el.email %></td>
                      <td><%= el.gender %></td>
                      <td><%= el.teachers_expertise %></td>
                      <td style="text-align: center;">
                        <a href="/students/edit?id=<%= el.teachers_id %>" class="glyphicon glyphicon-edit"></a>
                        <a href="/students/delete?id=<%= el.teachers_id %>" class="glyphicon glyphicon-remove"></a>
                      </td>
                    </tr>
                    <% })} %>
              </tbody>
            </table>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </section><!-- /.content -->